@model dotNetWebAPI.Models.CalculateFeeResponseModels.FEE
@using dotNetWebAPI.Models;


@if (Model != null)
{
    <hr>
    <div class="container">
        <div class="col-md-12" style="padding-left:0;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Calculate Fee Response</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong class="">Response Code</strong> <div class="">@Model.status</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Fee Amount</strong> <div class="">@Model.feeAmount</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

