@{
    ViewBag.Title = "Magic API";
}

<h2>Magic API</h2>

<div class="list-group">
    <a href="#" class="list-group-item active list-group-bg">
        List of magic RESTful methods
    </a>
    <a href="@Url.Action("CalculateFee", "MagicAPI")" class="list-group-item"><span class="badge">POST</span>Calculate Fee <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Process Transaction <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="@Url.Action("VirtualTerminalTransactionPost", "MagicAPI")" class="list-group-item"><span class="badge">POST</span>Virtual Terminal Transaction <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="@Url.Action("VirtualTerminalTransactionGet", "MagicAPI")" class="list-group-item"><span class="badge">GET</span>Virtual Terminal Transaction <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Tokenization <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Export Methods <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Process Credit <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Verify Transaction <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item disabled"><span class="badge">POST</span>Payment ID Lookup <i class="fa fa-pied-piper-alt fa-2x" aria-hidden="true"></i></a>
</div>
